<?xml version="1.0" encoding="UTF-8"?>
<!--
  تنظیمات IIS برای فروشگاه پارچه
  پیش‌نیاز: PHP 7.4+ (FastCGI) با افزونه pdo_mysql  |  URL Rewrite اختیاری است و الزامی نیست
-->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <httpErrors existingResponse="PassThrough" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- جلوگیری از دسترسی مستقیم مرورگر به پوشه‌های حساس -->
        <hiddenSegments>
          <add segment="app" />
          <add segment="data" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".md" allowed="false" />
          <add fileExtension=".bak" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
